@mixin opacity($val){
    opacity: $val/100;
    filter: alpha(opacity=$val);
}

@mixin footer(){
    #footer{
    background: #fafafa;
    height: 132px;
    .margin{
        width: 1226px;
        margin: 0 auto;
        p{
            padding-top: 15px;
            font: 12px/18px "";
            color: #b0b0b0;
            text-align: center;
        }
        .footer-link{
            text-align: center;
            margin-top: 10px;
            b{
                font-weight: 700;
                padding:0 3px;
                color: #b0b0b0;
            }
            a{
                padding:0 3px;
                color: #b0b0b0;
                &:hover{
                    color: #ff6700;
                }
                
            }
        }
        .sites{
            marign-top:15px;
            .sep{
                margin: 0 4px;
            }
            a{
                margin: 0 10px;
                color:  #b0b0b0;
                &:hover{
                    color: #ff6700;
                    transition: all .2s;
                }
            }
        }
    }
 }
}

@mixin top(){
    #top{
    border-bottom:2px solid #ededed;
    font: 12px/40px "";
    color: #8c8c8c;
    background:#fcfcfc;
    height: 40px;
   
    
    .margin{
        width: 1226px;margin: 0 auto;
         .top-l{
            float:left;
            span{
                margin:0px 10px 0px 7px;
            }
            a{
                &:hover{
                    color: #353535;
                }
            }
            .shoucang{
                background: url("../static/icon/shouc.png") no-repeat left;
                padding-left: 21px;
            }
            .weixin{
                background: url("../static/icon/weixinicon.png") no-repeat left;
                padding-left: 21px;
            }
        }
        .top-bull{
            background: url("../static/icon/top_bull_a.png") no-repeat 63px center;
            padding-right: 22px;
            padding-left: 8px;
            float: right;
            position: relative; 
            &:hover{
                cursor: pointer; 
                border-bottom:2px solid #FFFFFF ;
            } 
            .bull-listtext{
                position: absolute;
                left: -138px;
                top: 42px;
                width: 216px;
                height: 83px;
                padding-top: 15px;
                box-shadow: 0 2px 2px #666666;
                background: #FFFFFF;
                display: none;
                .bull-listtext-contont{
                    text-align: center;
                    margin: 5px 20px 20px; 
                }
            }
        }
        .top-car{
            position: relative;
            background: url("../static/icon/cat-1.png") no-repeat 10px 13px;
            background-color: #eaeaea;
            float: right;
            padding-left: 38px; 
            padding-right: 27px; 
            &:hover{
                cursor: pointer;
                background: #FFFFFF;
                background: url("../static/icon/cat-2.png") no-repeat 10px 13px;
                color: #FF6700;
                border-bottom:2px solid #FFFFFF ;
            } 
            .car-listtext{
                position: absolute;
                right: 0;
                top: 42px;
                width: 316px;
                height: 85px;
                
                padding-top: 15px;
                box-shadow: 0 2px 2px #666666;
                background: #FFFFFF;
                display: none;
                .car-listtext-contont{
                    text-align: center;
                    margin: 5px 20px 20px; 
                }
            }
        }
        .top-info{
            float: right;
            a:nth-child(1){
                color: #353535;
            }
            a:nth-child(3){
                color: #353535;
                &:hover{
                    cursor: pointer;
                }
            }
            span{
                margin:0px 10px 0px 7px;
            }
            .special{
                margin-right: 0px;
            }
        }
    }
 }
}

@mixin header(){
    #header{
    height: 100px;
    .margin{
       width: 1226px;
       margin:0 auto; 
       .logo{
           margin-top: 22px;
           float: left;
       }
       .address{
           float: left;
           margin-top:17px;
           margin-left: -5px;
           width: 83px;
           .address-t{
               position: relative;
               width: 83px;
               height: 31px;
               background: url("../static/icon/icon-189-indexv2.png") no-repeat center;
               background-position: -230px -17px;
               .index-city{
                   position: absolute;
                   left: 0;
                   top: 30px;
                   width: 420px;
                   height: 136px;
                   font-size: 14px;
                   border:1px solid #e7e3e1;
                   padding: 0 20px 10px 15px;
                   background:#FFFFFF;
                   display: none;
                   z-index: 99999;
                   ul{
                       li{
                        margin-top: 15px;
                        
                        span:nth-child(1){
                         color:#FF6700;
                        }
                        span:nth-child(2){
                            color: #333333;
                            a{
                                margin-left: 7px;
                                color: #333333;
                            }
                        }
                      }
                   }
                  
                   
               }
           }
           .address-b{
               margin-top: 5px;
               width: 83px;
               height: 31px;
               background: url("../static/icon/icon-189-indexv2.png") no-repeat center;
               background-position: -230px -17px;
           }
       }
       .search{
           position: relative;
           float: left;
           width: 380px;
           height: 35px;
           margin-left: 120px;
           margin-top: 32px; 
           border: 1px solid #e0e0e0; 
           .search-l{
               float: left;
               width: 305px;
               padding: 0 10px;
               height: 35px; 
               border: 0;
               border-right: 1px solid #e0e0e0;
           }
           .search-r{
               float: right;
               width: 54px ;
               height: 35px;
               border: 0px;
               background: url("../static/icon/fdj-1.png") no-repeat center;
               &:hover{
                   background: url("../static/icon/fdj-2.png") no-repeat center;
                   background-color: #ff6700;
                   transition: all .2s; 
               }
           }
           .search-list{
                    background:#FFFFFF;
                    position: absolute;
                    top: 35px;
                    left: -1px;
                    z-index: 999999;
                    display: none;
                    width: 325px;
                    border: 1px solid #E0E0E0;
                    li{
                        width: 305px;
                        padding: 0 10px;
                        overflow: hidden;
                        height: 32px;
                       
                        a{
                            display: block;
                            height: 30px;
                            span:nth-child(1){
                                float: left;
                                font: 14px/32px "";
                                color:#424242;
                            }
                            span:nth-child(2){
                                float: right;
                                font: 14px/32px "";
                                color:#b0b0b0;
                            }
                         }
                        
                    }
           }
           span:nth-child(3){
               position: absolute;
               left:256px ;
               top: 10px;
               width: 25px;
               height: 18px;
               font: 12px/18px "";
               color: #757575;
               background: #eeeeee;
               text-align: center;
               &:hover{
                   background: #ff6700;
                   color: #fff;
                   transition: all .2s;
               }
           }
           span:nth-child(4){
               position: absolute;
               left:290px ;
               top: 10px;
               width: 25px;
               height: 18px;
               font: 12px/18px "";
               color: #757575;
               background: #eeeeee;
               text-align: center;
              
               &:hover{
                   background: #ff6700;
                   color: #fff;
                   transition: all .2s;
               }
           }
       }
    }
 }
}

@mixin navigation(){
    #navigation{
    background: #333333;
    height: 46px;
    .margin{
        width: 1226px;
        margin: 0 auto;
       .nav{
           height: 46px;
           .nav-item1{
               position: relative;
               float: left;
               width: 234px;
               .te{
                   display: block;
                   font: 16px/46px "";
                   color: #fff;
                   background: #2690a6;
                   padding-left: 30px;
                }
                .list{
                    position: absolute;
                    left: 0px;
                    top: 46px;
                    width: 234px;
                    height: 460px;
                    z-index: 999;
                    background: rgba(0,0,0,0.6);
                    .list-item{
                        width: 234px;
                         position: absolute;
                        .list-item-goods{
                         height: 47px;
                            .list-item-big{
                                display: block;
                                font:14px/47px ""; 
                                color: #fff;
                                padding-left: 30px;
                                position: relative;
                                .sanjiao{
                                    width: 10px;
                                    height: 26px;
                                    position: absolute;
                                    top: 16px;
                                    right: 21px;
                                    background: url("../static/icon/c_array.png") no-repeat; 
                                }
                                &:hover{
                                background: #2690a6;
                                }
                             }
                             .hide-list{
                                 display: none;
                                 position: absolute;
                                 top: 0px;
                                 left:  234px;
                                 width: 196px;
                                 height: 460px;
                                 box-shadow: 0 8px 16px rgba(0,0,0,0.18);
                                 background: #FFFFFF;
                                 li{
                                     float: left;
                                     width: 190px;
                                     a{
                                         display: block;
                                         width: 190px;
                                         height: 79px;
                                         box-sizing: border-box;
                                         padding: 18px 0px 18px 20px;
                                         font: 14px "";
                                         color:#212121;
                                         &:hover{
                                             color: #FF6700;
                                         }
                                         img{
                                             width: 40px;
                                             height: 40px;
                                             margin-right:12px ;
                                         }
                                     }
                                 }
                             }
                       } 
                       .te2{
                           margin-top: 20px;
                       }
                    }
                    
          
                }
           }
           .nav-item{
               float: left;
               a{
                   padding:0 25px;
                   font: 16px/46px "";
                   color: #fff;
                   &:hover{
                       color: #ff6700;
                   }
               }
           }
           .nav-item2{
               float: right;
               a{
                   color:  #fff;
                   span{
                      display: inline-block;
                      font: 16px/26px ""; 
                      border: 1px solid #656565;
                      height: 26px;
                      padding: 0 30px;
                      margin-top: 9px;
                   }
               }
           }
       }
    }
}
}
@mixin friendship(){
    #friendship-link{  
    .margin{
        width: 1226px;
        margin: 0px auto;
        .friendship-link-top{
            height: 80px;
             padding: 27px 0;
             box-sizing: border-box;
             border-bottom: 1px solid #e0e0e0;
             display: flex;
             .friendship-link-top-items{
                 flex: 1;
                 text-align: center;
                 border-right: 1px solid #e0e0e0;
                 font: 14px "";
                 color: #e53935;
                 a{
                     color:#616161 ;
                     &:hover{
                         color: #e53935;
                         transition: all .2s;
                     }
                 }
                 
             }
             .friendship-link-top-items:last-child{
                 border:0;
             }
        }
        .friendship-link-bottom{
            position: relative;
            height: 192px;
            box-sizing: border-box;
            padding: 40px 0;
            .friendship-link-about{
                float: left;
                width: 984px;
                border-right: 1px solid #757575;
                .friendship-link-about-items{
                    float: left;
                    width: 163px;
                    height: 112px;
                    
                    dt{
                        font: 14px "";
                        margin-bottom: 26px;
                        color:#424242;
                    }
                    dd{
                        a{
                            font: 12px "";
                            color: #757575;
                             &:hover{
                                 color: #e53935;
                                 transition: all .2s;
                             }
                        }
                    }
                }
            }
            .friendship-link-server{
                width: 241px;
                height:112px;
                float: right;
                text-align: center;
                span{
                    display: block;
                    color: #ff6700;
                    font: 22px "";
                    margin-bottom: 5px;
                }
                b{
                    display: block;
                    color: #616161;
                    font-weight: 300;
                    font-size: 12px;
                }
                em{
                     display: block;
                    font-style: normal;
                     font-size: 12px;
                     color: #616161;
                     margin-top: 23px;
                }
                a{
                    position: absolute;
                    bottom: 27px;
                    right: 60px;
                    width: 120px;
                    height: 30px;
                    border: 1px solid #ff6700;
                    color: #ff6700;
                    font: 12px/28px "";
                    box-sizing: border-box;
                    padding-left:12px;
                    background: url("../static/icon/b-lxwm-1.png") no-repeat 10px 9px ;
                    &:hover{
                        background: url("../static/icon/b-lxwm.png") no-repeat 10px 9px ;
                        color: #FFFFFF;
                        background-color:#ff6700;
                        transition: all .2s;
                    }
                }
            }
            
        }
    }
}

}
